@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");
body {
  font-family: "Jaldi", sans-serif;
}
a {
  color: #000 !important;
  text-decoration: none !important;
}
a:hover {
  color: #646363;
}
.heading {
  font-size: 80px;
  line-height: 50px;
}

.heading-line {
  border-top: 2px black solid;
}
